/.venv
Anaconda3-2025.12-1-Windows-x86_64.exe
nesting_app.pyproj
nesting_app.sln
test.patch
/pythonocc-core-7.9.0
/logs
/.vscode
/results
4run.txt
.pyc
algorithms/__pycache__/hybrid.cpython-311.pyc
algorithms/__pycache__/parallel.cpython-311.pyc
algorithms/__pycache__/sequential.cpython-311.pyc
algorithms/__pycache__/stabilization.cpython-311.pyc
config/__pycache__/settings.cpython-311.pyc
core/__pycache__/agent.cpython-311.pyc
core/__pycache__/collision.cpython-311.pyc
core/__pycache__/constraints.cpython-311.pyc
core/__pycache__/dynamics.cpython-311.pyc
core/__pycache__/geometry.cpython-311.pyc
core/__pycache__/optimizer.cpython-311.pyc
gui/__pycache__/interface.cpython-311.pyc
my_io/__pycache__/dxf_import.cpython-311.pyc
my_io/__pycache__/exporter.cpython-311.pyc
my_io/__pycache__/step_import.cpython-311.pyc
utils/__pycache__/bvh.cpython-311.pyc
utils/__pycache__/polygonization.cpython-311.pyc
utils/__pycache__/sdf.cpython-311.pyc
.gitignore